@label-width: 70px;
@table-width: 600px; // 100%;

body {
  font-family: sans-serif;
  padding: 20px;
}

div.row {
  margin-top: 10px;

  label {
    display: inline-block;
    text-align: right;
    width: @label-width;
  }

  input {
    display: inline-block;
    margin-left: 5px;
    width: 300px;
  }
}

table {
  border-left: solid gray 1px;
  border-top: solid gray 1px;
  border-collapse: collapse;
}

td, th {
  border-bottom: solid gray 1px;
  border-right: solid gray 1px;
  padding: 10px;
  min-width: 200px;
}

th {
  background-color: LightSalmon;
  div {
    font-size: 14pt;
    font-weight: bold;
  }
}

/* Overriding the Bootstrap caret class to make it bigger. */
.caret {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #000000;
  float: right;
}

.dropdown {
  float: right;
}

.dropdown-toggle .caret {
  font-size: 24pt;
}

.filter {
  width: 180px;
}

.manage-table-head {
  display: block;
  margin-top: 10px;
  overflow-x: hidden;
  width: @table-width;
}

.manage-table-body {
  display: block;
  overflow: scroll;
  position: relative; //absolute;
  width: @table-width;
  height: 200px;
}

.manage-type-number {
  text-align: right;
}

.manage-type-string {
}
