@active-color: #cfaa51;
@border-color: white;
@border-width: 2px;
@cell-width: 200px;
@inactive-color: #868281;
@label-width: 70px;
@table-width: 600px; // 100%;
@scrollbar-width: 16px; // on Mac this should be zero

.on-mac .manage-table-body {
  width: @table-width !important; // not adding @scrollbar-width
}

.manage-my-star {
  font-family: Arial, sans-serif;

  hr {
    margin: 10px 0 0 0;
  }

  table {
    border-left: solid @border-color @border-width;
    border-top: solid @border-color @border-width;
    border-collapse: collapse;
  }

  tbody {
    tr:nth-child(even) {
      background-color: #f7f6f6;
    }

    tr:nth-child(odd) {
      background-color: #e9e7e7;
    }
  }

  th {
    div {
      font-size: 14pt;
      font-weight: bold;
    }
    input {
      //width: 100px;
    }
  }
  td, th {
    border-right: solid @border-color @border-width;
    border-bottom: solid @border-color @border-width;
    padding: 5px 10px;
    min-width: @cell-width;
  }

  #search-filter-toggle {
    //float: right;
    margin-left: 10px;
  }

  .actions {
    min-width: 400px; //240px; //95px;
    text-align: center;

    button {
      margin-right: 5px;
    }
  }

  /* Overriding the Bootstrap caret class to make it bigger. */
  .caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
    float: right;
  }

  .dropdown {
    float: right;
  }

  .dropdown-menu {
    position: fixed;
  }

  .dropdown-toggle .caret {
    font-size: 24pt;
  }

  .filter {
    width: @cell-width - 23;
  }

  .heading {
    background-color: #dedede;
    margin: 0 0 10px 0;
    padding: 10px;
  }

  .manage-table-head {
    display: block;
    margin-top: 10px;
    overflow-x: hidden;
    width: @table-width;

    a {
      color: white;
      font-size: 10pt;
      text-decoration: none;
      text-transform: uppercase;
    }

    th {
      background-color: DimGray;
      color: white;
      text-align: left;
    }
  }

  .manage-table-body {
    border-top: none;
    display: block;
    overflow: scroll;
    position: relative;
    width: @table-width + @scrollbar-width;
    height: 200px;
  }

  .manage-type-number {
    text-align: right;
  }

  .manage-type-string {
  }

  .nav-tabs {
    li > a {
      background-color: @inactive-color;
      border-color: @inactive-color;
      color: black;
    }
    .active > a, .active > a:hover {
      background-color: @active-color;
      border-color: @active-color;
      color: white;
    }
  }

  .pagination {
    margin: 10px 0 0 0;
  }

  .row {
    label {
      text-align: right;
      width: @label-width;
    }

    input {
      display: inline-block;
      margin-left: 5px;
      text-align: left;
    }

    input[type='number'] {
      width: 100px;
    }

    input[type='text'] {
      width: 300px;
    }

    select {
      display: inline-block;
      margin-left: 5px;
      width: auto;
    }

    .form-group {
      margin-bottom: 5px;
    }
  }

  .searches {
    input, select {
      display: inline-block;
      width: auto;
    }

    .form-group {
      margin-bottom: 5px;
    }
  }

  .search-field {
    display: inline-block;
    margin-right: 5px;

    label {
      margin-bottom: 0
    }
  }

  .sort-indicator {
    font-size: 14px;
  }

  .tab-pane {
    padding-top: 5px;
  }
}

.manage-my-star > div {
  margin-left: 10px;
}
