<div class="manage-my-star">
  <h3 class="heading">{{header}}</h3>

  <tabset>
    <tab heading="{{manageHeading}}" select="switchToManage()">
      <form ng-if="showForm" name="manageForm">
        <ng-include src="'src/share/directives/manage-form.html'"></ng-include>
      </form>

      <div ng-if="showForm" class="row">
        <label></label>
        <button ng-if="canUpdate" class="btn btn-default"
          ng-click="updateObject()"
          ng-disabled="!editObj || manageForm.$invalid">
          Update
        </button>
        <span>Click in a table row to edit it using the fields above.</span>
      </div>
    </tab>

    <tab heading="{{searchHeading}}" select="switchToSearch()">
      <div ng-show="mode === 'search'">
        <div class="searches">
          <div ng-repeat="fields in searches" class="form-group"
            ng-show="showSearch($index)">
            <div class="search-field" ng-repeat="field in fields">
              <label>{{field.label}}</label><br>
              <input ng-if="field.inputType !== 'select'"
                ng-class="field.type === 'boolean' ? '' : 'form-control'"
                type="{{field.inputType}}"
                ng-model="field.value">
              <select ng-if="field.inputType === 'select'" class="form-control"
                ng-model="field.value">
                <option ng-repeat="option in field.options">{{option}}</option>
              </select>
            </div>
            <span class="glyphicon glyphicon-search" ng-click="search(fields)"></span>
            <span id="search-filter-toggle" ng-if="$index === 0">
              {{searchAmount}} filters
              <span id="show-more-btn" class="glyphicon"
                ng-class="searchAmount === 'more' ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'"
                ng-click="toggleSearches()">
              </span>
            </span>
          </div>
        </div>
        <button class="btn btn-default"
          ng-if="canAdd"
          ng-click="switchToCreate()">
          Create
        </button>
      </div>

      <div ng-show="mode === 'create'">
        <h3>Create a new {{resource}}.</h3>
        <form name="createForm">
          <ng-include src="'src/share/directives/manage-form.html'"></ng-include>
        </form>
        <div>
          <button class="btn btn-default"
            ng-disabled="createForm.$invalid"
            ng-click="addObject()">
            Create {{resource}}
          </button>
          <button class="btn btn-default" ng-click="mode = 'search'">
            Cancel
          </button>
        </div>
      </div>
    </tab>
  </tabset>

  <div ng-show="mode !== 'create'">
    <hr ng-show="pageObj.itemCount">

    <!-- Don't display anything until the fields
        have been retrieved from the server. -->
    <div ng-if="fields">
      <div class="pagination" ng-hide="pageObj.itemCount <= pageSize">
        Showing {{pageObj.startIndex + 1}} to {{pageObj.endIndex}} of {{pageObj.itemCount}}
        <button class="btn btn-default"
          ng-disabled="!hasPreviousPage()"
          ng-click="getFirstPage()">
          <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button class="btn btn-default"
          ng-disabled="!hasPreviousPage()"
          ng-click="getPreviousPage()">
          <span class="glyphicon glyphicon-backward"></span>
          Previous
        </button>
        <button class="btn btn-default"
          ng-disabled="!hasNextPage()"
          ng-click="getNextPage()">
          Next
          <span class="glyphicon glyphicon-forward"></span>
        </button>
        <button class="btn btn-default"
          ng-disabled="!hasNextPage()"
          ng-click="getLastPage()">
          <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
      </div>

      <table ng-show="pageObj.itemCount" class="manage-table-head">
        <thead>
          <tr ng-class="accordionStates.managing ? 'managing' : 'searching'">
            <th ng-repeat="field in fields" ng-if="!isHidden(field)">
              <div>
                <a ng-click="sortOn(field)">
                  {{field.label}}
                </a>
                <span class="sort-indicator"
                  ng-show="sortField === field && !reverse"
                  ng-click="sortOn(field)">
                  &#x25b2;
                </span>
                <span class="sort-indicator"
                  ng-show="sortField === field && reverse"
                  ng-click="sortOn(field)">
                  &#x25bc;
                </span>
                <!--span class="dropdown" dropdown on-toggle="tableHeadToggle(open)">
                  <a href class="dropdown-toggle" dropdown-toggle>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href>foo</a></li>
                    <li><a href>bar</a></li>
                    <li><a href>baz</a></li>
                  </ul>
                </span-->
              </div>
              <input
                ng-if="mode === 'manage' && canFilter &&
                  field.inputType !== 'select'"
                class="filter form-control"
                type="{{field.inputType}}"
                ng-model="filters[field.property]"
                ng-change="applyFilter()">
              <select
                ng-if="mode === 'manage' && canFilter &&
                  field.inputType === 'select'"
                class="filter form-control"
                ng-model="filters[field.property]"
                ng-change="applyFilter()">
                <option ng-repeat="option in field.options">{{option}}</option>
              </select>
            </th>
            <th class="actions"><div>Actions</div></th>
          </tr>
        </thead>
      </table>

      <table class="manage-table-body">
        <tbody>
          <tr ng-repeat="item in pageObj.items" ng-click="editObject($index, item)">
            <td class="manage-type-{{field.type}}"
              ng-repeat="field in fields"
              ng-if="!isHidden(field)">
              {{getPropValue(item, field)}}
            </td>

            <td ng-if="actionCount > 0" class="actions">
              <button ng-if="canAdd && mode === 'search'"
                class="btn btn-default" title="Add"
                ng-click="addObject($event, $index)">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <!-- The next two buttons have to start and end with
                  no space between them to get CSS spacing to be correct. -->
              <button class="btn btn-default"
                ng-if="canDelete && mode === 'manage'"
                title="Delete"
                ng-click="deleteObject($event, $index)">
                <span class="glyphicon glyphicon-trash"></span>
              </button><button
                class="btn btn-default"
                ng-if="mode === 'manage'"
                ng-repeat="ma in manageActions"
                title="{{ma.title}}"
                ng-click="ma.action(item)">
                <span ng-if="ma.glyph"
                  class="glyphicon glyphicon-{{ma.glyph}}"></span>
                <span ng-if="ma.name">{{ma.name}}</span>
              </button>
              <button class="btn btn-default"
                ng-if="mode === 'search'"
                ng-repeat="sa in searchActions"
                title="{{sa.title}}"
                ng-click="sa.action(item)">
                <span ng-if="sa.glyph"
                  class="glyphicon glyphicon-{{sa.glyph}}"></span>
                <span ng-if="sa.name">{{sa.name}}</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
