<!-- Don't display anything until the fields
     have been retrieved from the server. -->
<div ng-if="fields">
  <form ng-if="showForm" name="myForm">
    <div class="row" ng-repeat="field in fields">
      <label>{{field.label}}</label>
      <input class="form-control" type="text"
        ng-model="field.value"
        ng-readonly="editId && field.readonly"
        required>
    </div>
  </form>

  <div ng-if="showForm" class="row">
    <label></label>
    <button class="btn btn-default" ng-click="clearForm()">
      Clear
    </button>
    <button ng-if="canAdd" class="btn btn-default"
      ng-click="addObject()"
      ng-disabled="myForm.$invalid">
      Add
    </button>
    <button ng-if="canUpdate" class="btn btn-default"
      ng-click="updateObject()"
      ng-disabled="!editId || myForm.$invalid">
      Update
    </button>
  </div>

  <table class="manage-table-head">
    <thead>
      <tr>
        <th ng-repeat="field in fields">
          <div>
            <a ng-click="sortOn(field)">
              {{field.label}}
            </a>
            <span ng-show="sortField === field && !reverse"
              ng-click="sortOn(field)">
              &#x25b2;
            </span>
            <span ng-show="sortField === field && reverse"
              ng-click="sortOn(field)">
              &#x25bc;
            </span>
            <span class="dropdown" dropdown on-toggle="tableHeadToggle(open)">
              <a href class="dropdown-toggle" dropdown-toggle>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href>foo</a></li>
                <li><a href>bar</a></li>
                <li><a href>baz</a></li>
              </ul>
            </span>
          </div>
          <input type="text" class="filter form-control"
            ng-model="filter[field.property]"
            ng-change="applyFilter()">
        </th>
        <th><div>Actions</div></th>
      </tr>
    </thead>
  </table>
  <table class="manage-table-body">
    <tbody>
      <tr ng-repeat="obj in objects" ng-click="editObject($index, obj)">
        <td class="manage-type-{{field.type}}" ng-repeat="field in fields">
          {{obj[field.property]}}
        </td>
        <td ng-if="actionCount > 0">
          <button ng-if="canDelete" class="btn btn-default"
            ng-click="deleteObject($event, $index)">
            Delete
          </button>
          <!--button class="btn btn-default" ng-click="notImplemented()">
            Foo
          </button-->
        </td>
      </tr>
    </tbody>
  </table>
</div>
