<form name="myForm">
  <div class="row" ng-repeat="field in fields">
    <label>{{field.label}}</label>
    <input class="form-control" type="text" ng-model="field.value" required>
  </div>
</form>

<div class="row">
  <label></label>
  <button class="btn btn-default" ng-click="addAlbum()"
    ng-disabled="myForm.$invalid">
    Add
  </button>
  <button class="btn btn-default" ng-click="notImplemented()">
    Edit
  </button>
</div>

<table class="manage-table-head">
  <thead>
    <tr>
      <th ng-repeat="field in fields">
        <a ng-click="sortOn(field)">
          {{field.label}}
        </a>
        <span ng-show="sortField === field && !reverse"
          ng-click="sortOn(field)">
          &#x25b2;
        </span>
        <span ng-show="sortField === field && reverse"
          ng-click="sortOn(field)">
          &#x25bc;
        </span>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
</table>
<table class="manage-table-body">
  <tbody>
    <tr ng-repeat="album in albums">
      <td>{{album.artist}}</td>
      <td>{{album.title}}</td>
      <td>{{album.rating}}</td>
      <td>
        <button class="btn btn-default" ng-click="deleteAlbum(id)">Delete</button>
        <button class="btn btn-default">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
