<form name="myForm">
  <div class="row" ng-repeat="field in fields">
    <label>{{field.label}}</label>
    <input class="form-control" type="text" ng-model="field.value" required>
  </div>
</form>

<div class="row">
  <label></label>
  <button class="btn btn-default" ng-click="addAlbum()"
    ng-disabled="myForm.$invalid">
    Add
  </button>
  <button class="btn btn-default" ng-click="notImplemented()">
    Edit
  </button>
</div>

<table>
  <tr>
    <th>Artist</th>
    <th>Title</th>
    <th>Rating</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat="(id, obj) in music">
    <td>{{obj.artist}}</td>
    <td>{{obj.title}}</td>
    <td>{{obj.rating}}</td>
    <td>
      <button class="btn btn-default" ng-click="deleteAlbum(id)">Delete</button>
      <button class="btn btn-default">Edit</button>
    </td>
  </tr>
</table>
