<form name="myForm">
  <div class="row" ng-repeat="field in fields">
    <label>{{field.label}}</label>
    <input class="form-control" type="text" ng-model="field.value" required>
  </div>
</form>

<div class="row">
  <label></label>
  <button class="btn btn-default" ng-click="addAlbum()"
    ng-disabled="myForm.$invalid">
    Add
  </button>
  <button class="btn btn-default" ng-click="update()"
    ng-disabled="!editId || myForm.$invalid">
    Update
  </button>
</div>

<table class="manage-table-head">
  <thead>
    <tr>
      <th ng-repeat="field in fields">
        <div>
          <a ng-click="sortOn(field)">
            {{field.label}}
          </a>
          <span ng-show="sortField === field && !reverse"
            ng-click="sortOn(field)">
            &#x25b2;
          </span>
          <span ng-show="sortField === field && reverse"
            ng-click="sortOn(field)">
            &#x25bc;
          </span>
          <span class="dropdown" dropdown on-toggle="tableHeadToggle(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href>foo</a></li>
              <li><a href>bar</a></li>
              <li><a href>baz</a></li>
            </ul>
          </span>
        </div>
        <input type="text" class="filter" ng-model="filter[field.property]"
          ng-change="applyFilter()">
      </th>
      <th>Actions</th>
    </tr>
  </thead>
</table>
<table class="manage-table-body">
  <tbody>
    <tr ng-repeat="album in albums" ng-click="edit($index, album)">
      <td class="manage-type-{{field.type}}" ng-repeat="field in fields">
        {{album[field.property]}}
      </td>
      <td>
        <button class="btn btn-default" ng-click="deleteAlbum($event, $index)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
